@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-montserrat : "Montserrat", serif;
  --font-sans:"Open Sans", serif;
}


body {
 @apply font-montserrat text-base
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius : 0.5rem;
  }
}
.hero-subheader{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sticky-nav {
  background-color: rgba(220, 220, 220, 0.984); /* Change as needed */
  color: rgb(143, 139, 139);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Optional shadow for effect */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}
 
@keyframes sticky-nav {
 0% {
     transform: translateY(-6em)
 }

 100% {
     transform: translateY(0)
 }
}